.hero-unit

  %h1 Hi, Dude
  %p We have over 100,000 hot pics here and more videos coming soon, delight yourself :)

%h2.category Top Galleries
.row
  .span12
    - Category.top.galleries.each do |g| 
      = link_to(image_tag(s3_image_path(g.cover_url)), gallery_path(g))

%h2.category Stuff Picks
.row
  .span12
    - Category.stuff_picks.galleries.each do |g| 
      = link_to(image_tag(s3_image_path(g.cover_url)), gallery_path(g))

%h2.category Guess You Like
.row
  .span12
    - Category.recommend.galleries.each do |g| 
      = link_to(image_tag(s3_image_path(g.cover_url)), gallery_path(g))

%h2.category Images We Have - All For YOU ( 121, 000+ )
.row#all_galleries
  .span12
    - Gallery.limit(20).each do |g| 
      = link_to(image_tag(s3_image_path(g.cover_url)), gallery_path(g), :gid => g.id)

    %br
    #loading_icon.hide= image_tag("round-loading-icon.gif", :width => 60, :height => 60)
    %a#more_galleries_btn.btn.btn-large I want More ...

