= link_to "New ", new_admin_category_path, :class => "btn pull-right"

%table.table.table-bordered.table-striped
  %thead
    %td Name
    %td Slug
    %td Name(In Zh)
    %td Resource Num
    %td 

  %tbody
    - @categories.each do |c|
      %tr
        %td= c.name
        %td= c.slug
        %td= c.name
        %td= c.resource_count
        %td
          = link_to "Galleries", admin_category_galleries_path(c)
        


= paginate @categories


